{{- $umami := .Site.Params.Umami -}}
<script defer src="{{ $umami.Host }}/script.js" data-website-id="{{ $umami.SiteId }}"></script>
{{ if not .IsHome }}
    <script>
        window.addEventListener("DOMContentLoaded", () => {
            const wrapper = document.getElementsByClassName("article-time--count-wrapper")[0];
            if (wrapper == null) {
                return;
            }
            const e = document.getElementsByClassName("article-time--count")[0];
            if (e == null) {
                return;
            }
            const path = window.location.pathname;
            const siteId = {{ $umami.SiteId }};
            const host = {{ $umami.Host }};
            const st = {{ $umami.StartAt }};
            const now = new Date().getTime();
            const url = `${host}/api/websites/${siteId}/stats?startAt=${st}&endAt=${now}&url=${encodeURIComponent(path)}`;
            fetch(url).then(r => r.json()).then(data => {
                wrapper.style.display = '';
                e.textContent = String(data.visits ? data.visits.value : 0);
            });
        });
    </script>
{{ end }}